name: Publish Packages

on:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - '**.md'
      - Writerside

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: MineInAbyss/publish-action@develop
        with:
          maven-metadata-url: https://repo.mineinabyss.com/releases/com/mineinabyss/geary-core/maven-metadata.xml
          maven-snapshot-metadata-url: https://repo.mineinabyss.com/snapshots/com/mineinabyss/geary-core/maven-metadata.xml
          maven-username: ${{ secrets.MAVEN_PUBLISH_USERNAME }}
          maven-password: ${{ secrets.MAVEN_PUBLISH_PASSWORD }}
